html, body {
    height: 100%;
}

.jbd-font {
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 900;
}

.jbd-red {
    background-color: #fe233d;
}

.jbd-dark {
    background-color: #222;
}

td {
    font-family: linotype-vectora, sans-serif;
    font-style: normal;
    font-weight: 400;
}


 /* index */

/* sidenav - default css */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fe233d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    background-image: url(../assets/logo-repeat-transparent.png);
}

.wrapper-sidenav {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

  
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 86px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background-size: 100% 200%; 
    background-image: linear-gradient(to bottom, transparent 50%, #fff 50%);
    transition: 
    background-position .1s ease-in-out, 
    color .1s ease-in-out;
    
}

.sidenav a:hover {
    background-position: 0 100%;
    color: #fe233d!important;
}
  
.sidenav a:hover{
color: #f1f1f1;
}

.sidenav .closebtn {
padding: 10px;
position: absolute;
top: 10px;
right: 25px;
font-size: 36px;
margin-left: 25px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

/* end of sidenav */

#mobile-hamburger {
    position: absolute;
    color: #fe233d;
    background-color: transparent;
    padding: 10px;
}

#mobile-hamburger {
    cursor: pointer;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

 .wrapper {
    padding: 80px;
}



.nav-link a {
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    color: #fe233d;
    text-transform: uppercase;
    font-size: 36px;
    padding: 10px;
    text-align: left;
    line-height: 2;
    background-size: 100% 200%; 
    background-image: linear-gradient(to bottom, #fff 50%, #fe233d 50%);
    transition: 
    background-position .1s ease-in-out, 
    color .1s ease-in-out;
    white-space: nowrap;
    width: 100%;
}

.nav-link a:hover {
    background-position: 0 100%;
    color: #fff;
}

.image-container {
    position: relative;
    width: 100%;
    border: solid 10px transparent;
    transition: border .1s ease;
}
  
.hover-img {
display: block;
width: 100%;
height: auto;
}

.text-overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: #fe233d;
overflow: hidden;
width: 100%;
height: 0;
transition: .1s ease;
}

.image-container:hover {
    border: solid 10px #fe233d;
}

.image-container:hover .text-overlay {
height: 15%;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: left;
font-family: titling-gothic-fb, sans-serif;
font-style: normal;
font-weight: 900;
text-decoration: none;
color: #fff;
text-transform: uppercase;
white-space: nowrap;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(250, 249, 249);
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 1000; 
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
}

/*About Me*/

.header {
    padding: 100px;
    background-image: url(../assets/logo-repeat-transparent.png);
    background-color: #fe233d;
    width: 100%;
}

.header h1 {
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 900; 
    text-transform: uppercase;
    font-size: 6rem;
    color: #fff;   
}

.header p {
    font-family: linotype-vectora, sans-serif;
    font-style: normal;
    font-weight: 300; 
    font-style: italic;
    color: #fff;
    font-size: 30px;
}

.body-text {
    font-family: linotype-vectora, sans-serif;
    font-style: normal;
    font-weight: 300;    
    line-height: 2;
    text-align: justify;
    font-size: 20px;
}

.heading {
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 900; 
    text-transform: uppercase;
    color: #fe233d;
    font-size: 56px;
    text-align: center;
}

.sub-header {
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 900; 
    text-transform: uppercase;
    font-size: 4rem;
    color: #222;
    text-align: center;
}

.sub-header:after {
    border: solid 10px #fe233d;
}

#cv-banner {
    width: 100%;
    padding: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #f1f1f1;
}

#cv-banner p {
    font-family: linotype-vectora, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.btn-cv, .btn-upwork {
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: #fe233d;
    border: solid 5px #fe233d;
    border-radius: 0;
    background-size: 100% 200%; 
    background-image: linear-gradient(to bottom, transparent 50%, #fe233d 50%);
    transition: 
    background-position .1s ease-in-out, 
    color .1s ease-in-out;
}

.btn-cv:hover, .btn-upwork:hover {
    background-position: 0 100%;
    color: #fff;
}

/*Portfolio 2020 */
.border-jbd-red {
    border: solid 5px #fe233d;
}


/* Carcat */
.image-caption {
    width: 100%;
    background-color: #fe233d;
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px;
}


/* AV1874 */







/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .wrapper {
        padding: 20px;
    }

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .wrapper-sidenav {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 200px;
    }
    .sidenav a {
        font-size: 48px;
    }

    .logo {
        /* height: 75%;
        width: auto; */
        margin-bottom: 20px;
    }

    #mobile-center-logo {
        text-align: center;
    }

    .header {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header h1 {
        text-align: center;
        font-size: 48px;
    }

    .header p {
        text-align: center;
        line-height: 1;
    }

    #cv-banner {
        padding: 40px;
    }

    .heading {
        font-size: 40px;
    }

    #cv-banner p {
        font-size: 20px;
    }

    .btn-cv, .btn-upwork {
        margin: 0px 0px 15px 0px!important;
    }

}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* // Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */